
/* Carousel slide backgrounds */
.item.item1 {
    background-image: url('../img/Promo11.webp');
}
.item.item2 {
    background-image: url('../img/Promo21.webp');
}
.item.item3 {
    background-image: url('../img/Promo31.webp');
}
.item.item4 {
    background-image: url('../img/Promo41.webp');
}
